.root{
    -fx-background-color: #C6DEC6;
    -fx-font-size: 20pt;

        /*-fx-background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiC7uqI8IHbAhUFwVkKHbJtCDUQjRx6BAgBEAU&url=https%3A%2F%2Fstudentresearch.engineering.columbia.edu%2Fcontent%2Fapplied-physics-and-applied-mathematics&psig=AOvVaw0N2TciN32dAuE6zRcB0frM&ust=1526272977379760");*/


}
.label{
    -fx-text-fill: #e8e8e8;


}
.button{
    -fx-background-color: #C6DEC9;

}
